@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* Reset */

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Inter", sans-serif;
}

/* Header main container */

.header-main-container {
  background-image: url(img/cyber_img.jpg);
  color: white;
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  top: 0; */
  padding: 0 5%;
  margin-top: 0;
}

.navbar ul {
  list-style: none;
  /* overflow: hidden; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navbar-heading {
  display: block;
  /* margin-left: 10px; */
  font-weight: 500;
}

.navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: white;
  padding: 5px;
  flex-wrap: wrap;
}

.navbar a:hover {
  text-decoration: underline;
}

/* ------------------------- */
/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 100px 10% 0 10%;
  padding-bottom: 150px;
}

.header-title {
  font-size: 2.5em;
  font-weight: 500;
  margin: 0;
}

.header-content-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.header-btn {
  text-decoration: none;
  margin: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
  display: block;
  padding: 8px 16px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid white;
}

.header-btn:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

.header-img-container {
  width: 40%;
  display: flex;
  justify-content: center;
}
.header-img {
  width: 350px;
}

/* main section */
.main-sec-1 {
  display: flex;
  margin: 0 10%;
  margin-top: -70px;
}

.both-main-sec {
  width: 50%;
}

.left-main-sec-1 {
  background-color: #f4f5fc;
  padding: 40px;
  line-height: 1.4em;
}

.left-main-sec-1-title {
  font-weight: 700;
  font-size: 24px;
}

.right-main-sec-1 {
  background-color: #f2382b;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.right-sec-p {
  width: 300px;
}

.right-sec-lg {
  font-size: 3.5em;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

.main-sec-btn {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px;
  font-weight: 500;
  display: block;
  margin: 0 auto;
}

.main-sec-left-btn {
  margin-top: 30px;
  text-decoration: none;
  display: block;
  width: 60%;
  color: black;
  text-align: center;
}

.main-sec-left-btn:hover {
  background-color: black;
  color: white;
}

.main-sec-right-btn {
  margin-top: 60px;
  margin-bottom: 0;
  border: 2px white solid;
  color: white;
  text-decoration: none;
  display: block;
  width: 60%;
  text-align: center;
}

.main-sec-right-btn:hover {
  background-color: white;
  color: #f2382b;
}

.main-sec-2 {
  display: flex;
  flex-direction: column;
  padding: 50px 60px 50px 60px;
}

.main-sec-2-heading {
  padding: 0 0 10px 0;
}

.main-sec-2-heading p {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.main-sec-2-cards-container {
  display: flex;
  justify-content: space-around;
}

.main-sec-2-cards {
  width: 30%;
  background-color: #212121;
  color: white;
  padding: 20px 40px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.main-sec-2-cards p {
  text-align: center;
}

.main-sec-3 {
  background-image: url(img/cyber_img3.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-sec-3 p {
  color: white;
  font-weight: 700;
  font-size: 2em;
  margin: 0 22% 20px 22%;
  line-height: 1.5em;
  text-align: center;
}

.main-sec-3 a {
  color: white;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 5px;
  display: block;
  width: 18%;
  text-align: center;
  padding: 10px 0;
  font-weight: 600;
}

.main-sec-3 a:hover {
  background-color: white;
  color: black;
}

/* Cyber Bullying page */

.cb-main-1 {
  width: 100%;
  display: flex;
  padding: 60px 30px;
  justify-content: space-around;
}

.cb-main-1-left {
  width: 40%;
  padding-left: 60px;
}

.cb-main-1-img {
  width: 80%;
}

.cb-main-1-right {
  width: 40%;
  margin-right: 80px;
}

.cb-main-1-right p {
  font-size: 1.5em;
  font-weight: 600;
}

.cb-main-1-right li {
  line-height: 1.5em;
}

.cb-main-2-title {
  background-color: #212121;
  color: white;
  height: 250px;
  padding: 20px 0px 0px 20px;
}

.cb-main-2-title p {
  font-size: 2em;
  font-weight: 500;
}

.cb-main-2-content {
  background-color: #f2382b;
  color: white;
  padding: 60px 50px;
  margin: -50px 50px 0px 50px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.cb-main-3 {
  display: flex;
  margin: 100px 50px;
  justify-content: center;
  height: 400px;
}

.cb-main-3-left {
  width: 50%;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cb-main-3-left p {
  font-size: 3em;
  font-weight: 600;
}

.cb-main-3-right {
  width: 50%;
  background-color: #f2382b;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.cb-main-3-right span {
  font-weight: bold;
  font-size: 3em;
}

.cb-main-3-right p {
  font-size: 1.2em;
  width: 400px;
}

.cb-main-4 {
  display: flex;
  margin: 100px 50px;
  justify-content: center;
  height: 600px;
  background-color: #212121;
  padding: 50px 0px;
}

.cb-main-4 img {
  /* width: 80%; */
}

.cy-main-1 {
  margin: -50px 50px 0px 50px;
  background-color: #212121;
  color: white;
  font-size: 1.2em;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
}

.cy-main-1 p {
  font-size: 2em;
  font-weight: 500;
}

.cy-main-2 {
  display: flex;
  margin: 0 50px;
  font-size: 1.2em;
}

.cy-main-2-left {
  background-color: #f4f5fc;
  width: 50%;
  padding: 30px;
  line-height: 1.5em;
}

.cy-main-2-left-bold {
  font-weight: 700;
  font-size: 1.4em;
}

.cy-main-2-right {
  background-color: #f2382b;
  width: 50%;
  padding: 30px;
  color: white;
  line-height: 1.5em;
}

.cy-main-2-right-bold {
  font-weight: 700;
  font-size: 1.4em;
}

.cy-main-3 {
  background-color: #212121;
  padding: 40px 100px;
  font-size: 1.2em;
  color: white;
  line-height: 1.4em;
}

.cy-main-3-bold {
  font-weight: 700;
  font-size: 1.5em;
}

.rp-main-1 {
  margin: -50px 60px 20px 60px;
  display: flex;
  font-size: 1.2em;
  line-height: 1.4em;
}

.rp-main-1-left {
  background-color: #212121;
  color: white;
  width: 50%;
  padding: 50px;
}

.rp-main-1-left p {
  font-size: 1.5em;
  font-weight: 600;
}

.rp-main-1-right p {
  font-size: 1.5em;
  font-weight: 600;
}

.rp-main-1-right {
  background-color: #f4f5fc;
  width: 50%;
  padding: 50px;
}

.rp-form {
  background-color: #212121;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 1.2em;
}

.rp-form input {
  width: 200px;
  margin: 0px 0px 10px 0px;
}

.rp-form textarea {
  width: 600px;
}

.rp-btn {
  color: white;
  width: 150px;
  background-color: #212121;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 1em;
}

.rp-btn:hover {
  color: #212121;
  background-color: white;
}

/* end of Cyber Bullying page */
