@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* Reset */

html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0 5%;
  margin-top: 0;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navbar-heading {
  display: block;
  /* margin-left: 10px; */
}

.navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  display: block;
  color: black;
  padding: 5px;
  flex-wrap: wrap;
}

.navbar a:hover {
  text-decoration: underline;
}

/* ------------------------- */
/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 120px 10% 0 10%;
}

.header-content-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.header-btn {
  text-decoration: none;
  margin: 0;
  background-color: #36517c;
  color: white;
  cursor: pointer;
  display: block;
  padding: 8px 16px;
  width: 120px;
  border-radius: 30px;
}

.header-img-container {
  width: 40%;
  display: flex;
  justify-content: center;
}
.header-img {
  width: 350px;
}
